<div class="col-sm-2">
    <h6>Copyright &copy; 2016 </h6>
</div>
<!-- end col-sm-2 -->
<div class="col-sm-4">
    <p>The object of these conditions for the use of the this website is to govern the free provision to the general public </p>
</div>
<!-- end col-sm-4 -->
<!-- end col-sm-2 -->
<div class="col-sm-4">
    <h6 align="center">Follow Us</h6>
    <ul class="unstyled">
        <md-button class="social" md-no-ink aria-label="Show more icon">
            <md-icon md-svg-src="downloads/google_plus.svg"></md-icon>Googleplus
        </md-button>
        <md-button class="social" md-no-ink aria-label="Show more icon">
            <md-icon md-svg-src="downloads/hangouts.svg"></md-icon>hangouts
        </md-button>
        <md-button class="social" md-no-ink aria-label="Show more icon">
            <md-icon md-svg-src="downloads/twitter.svg"></md-icon>twitter
        </md-button>
    </ul>
</div>
<!-- end col-sm-2 -->
<div class="col-sm-2">
    <h6>Coded with <span class="glyphicon glyphicon-heart"></span> by Lokesh</h6>
</div>
<!-- end col-sm-2 -->
</div>
<!-- end row -->
</div>
