<md-input-container md-no-float style="padding-bottom:0px;">
    <input ng-model="txtSearch" placeholder="Search here">
</md-input-container>
<span flex></span>
<md-button class="md-icon-button" aria-label="Search" ng-click="searchDetails()">
    <md-tooltip>Search</md-tooltip>
    <md-icon class="material-icons">&#xE163;</md-icon>
</md-button>
<div class="container">
    <div class="col-xs-12">
        <div class="table-responsive">
            <table class=" table table-striped">
                <thead>
                    <tr ng-repeat="order in data" ng-if="$first">
                        <th ng-repeat="(key,val) in order">{{key}}</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="order in data ">
                        <td ng-repeat="(key,val) in order">{{val}}</td>
                        <td><a ui-sref="edit({id:order.id})" type="button" ng-click="mdlEdit(order.id)"><span class="glyphicon btn btn-danger  glyphicon-edit"></span></a>
                            <button type="button" ng-model="mdlRemove"><span class="glyphicon  btn btn-danger glyphicon-trash" ng-click="removeData(order.id)"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
